<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="web前端，web前端个人简历，前端开发">
    <meta name="description" content="刘新雨的web前端工程师个人简历">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web前端个人简历</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/jquery.fullPage.css">
    <!--<script src="static/JavaScript/jquery.min.js"></script>-->
    <!--<script src="static/JavaScript/jquery.fullPage.js"></script>-->
    <!--<script src="static/JavaScript/jquery.easings.min.js"></script>-->
    <!--<script src="static/JavaScript/move.js"></script>-->
    <!--<script type="text/javascript" src="index.js"></script>-->
</head>
<body>
<div id="head">
    <div class="head-left">
        <img src="http://upload-images.jianshu.io/upload_images/2585384-25022f4db77042b7.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
        <div id="head-tit">
            <span id="head-e">Yu</span><hr/>
            <span id="head-c">个人主页</span>
        </div>
    </div>
    <div class="head-right">
        <ul >
            <li><a href="#page1">首页</a></li>
            <li><a href="#page2">关于我</a></li>
            <li><a href="#page3">心路历程</a></li>
            <li class="head-view"><a href="#page4">专业技能</a></li>
            <li class="head-view"><a href="#page5">我的作品</a></li>
            <li><a href="#page6">联系我</a></li>
        </ul>
    </div>
</div>
<div id="fullpage">
    <div class="section section1">
        <h1>你若精彩，天自安排</h1>
        <div class="sec1p">
            <p class="secp1">在前端路上不断成长</p>
            <p class="secp2">爱编程，爱前端，爱探索</p>
            <p class="secp3">选我所爱，爱我所选</p>
        </div>
    </div>

    <div class="section section2" >
        <h1>About ME</h1>
        <div class="sec2Bor">
            <div class="sectionText">
                <img src="http://t1.picb.cc/uploads/2017/05/18/etMYa.md.jpg">
                <div class="Information">
                    <p>姓名：刘新雨</p>
                    <p>年龄：22</p>
                    <p>电话：18745069763</p>
                    <p>邮箱：1175058580@qq.com</p>
                    <p>学历：本科</p>
                    <p>毕业学校：黑龙江大学</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section section3">
        <div id="sec3Nav">
            <ul>
                <li class="sec3-li1"><span>1</span><a href="javascript:;">自我介绍</a></li>
                <li class="sec3-li2"><span>2</span><a href="javascript:;">为什么要从事前端行业？</a></li>
                <li class="sec3-li3"><span>3</span><a href="javascript:;">机遇与挑战并存</a></li>
                <li class="sec3-li4"><span>4</span><a href="javascript:;">理想的生活</a></li>
            </ul>
        </div>
        <div class="sec3Wrap">
            <div class="sec3Box">
                <p class="sec3-p1">你好</p>
                <p class="sec3-p2">我来自哈尔滨</p>
                <p class="sec3-p3">黑龙江大学</p>
                <p class="sec3-p4">计算机专业</p>
                <p class="sec3-p5">我叫，刘新雨</p>
                <p class="sec3-p6">前端攻城狮</p>
                <p class="sec3-p7">喜欢钻研，热爱编程</p>
                <p class="sec3-p8">不浮躁，不偏激</p>
                <p class="sec3-p9">爱运动，爱旅行</p>
                <p class="sec3-p10">不抱怨、不守旧</p>
                <p class="sec3-p11">热爱新技术、新事物</p>

            </div>
            <div class="sec3Box">
                <p class="sec3-p1">最初就是喜欢coding</p>
                <p class="sec3-p2">仔细想来</p>
                <p class="sec3-p3">是更喜欢创造</p>
                <p class="sec3-p4">大家都认为程序员的工作枯燥乏味</p>
                <p class="sec3-p5">在我眼中</p>
                <p class="sec3-p6">充满乐趣</p>
                <p class="sec3-p7">落入其中，爱的无法自拔</p>
            </div>
            <div class="sec3Box">
                <p class="sec3-p1">机遇与挑战并存</p>
                <p class="sec3-p2">有人说</p>
                <p class="sec3-p3">做技术要耐得住寂寞</p>
                <p class="sec3-p4">这份寂寞是对个人理想的支持</p>
                <p class="sec3-p5">对自己选择的负责</p>
                <p class="sec3-p6">对技术的无限奉献和热爱</p>
            </div>
            <div class="sec3Box">
                <p class="sec3-p1">一份喜欢的工作</p>
                <p class="sec3-p2">一群可爱的同事</p>
                <p class="sec3-p3">敲敲代码，改改bug</p>
                <p class="sec3-p4">一杯下午茶</p>
                <p class="sec3-p5">学习新知识</p>
                <p class="sec3-p6">乐观接受每一挑战</p>
                <p class="sec3-p7">生活</p>
                <p class="sec3-p8">就是如此简单</p>
            </div>
        </div>

    </div>

    <div class="section section4">
        <h1>·专业技能·</h1>
        <div class="sec4-pic">
            <span id="pic-h">
                <p class="h-tit">HTML</p>
                <ul class="sec4-list">
                    <li class="head-view">熟练HTML标记语言</li>
                    <li>深刻理解web标准</li>
                    <li>熟练HTML熟悉盒模型和各类布局方式</li>
                    <li>对HTML5有一定的了解</li>
                </ul>
            </span>
            <span id="pic-c">
                <p class="c-tit">CSS</p>
                <ul class="sec4-list">
                    <li>熟练运用css及css新特性</li>
                    <li>熟悉css3标准，能够解决常见兼容性问题</li>
                    <li>掌握BootStrap框架，深刻了解响应式布局</li>
                </ul>
            </span>

            <span id="pic-j">
                <p class="j-tit">JavaScript</p>
                <ul class="sec4-list">
                    <li>原生js基础扎实，对闭包，作用域，对js面向对象编程的思想有一定的了解</li>
                    <li class="head-view">熟悉js dom,event,ajax能够编写js原生代码</li>
                    <li>熟练掌握jQuery</li>
                    <li>注重javascript的性能优化</li>
                </ul>
            </span>

            <span id="pic-aj">
                <p class="aj-tit">Nodejs</p>
                <ul class="sec4-list">
                    <li>熟练使用koa框架、express框架</li>
                    <li class="head-view">Node.js 连接 MySQL</li>
                    <li>实现某些特定功能，以实现模块化编程</li>
                    <li>快速搭建网站</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="section section5">
        <h1>·我的作品·</h1>
        <div class="slide">
            <img class="pic3" src="http://upload-images.jianshu.io/upload_images/2585384-c2b30a960195688a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="卓美品质">
            <img class="pic2" src="http://upload-images.jianshu.io/upload_images/2585384-68f8bcd854b87002.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="卓美品质">
            <img class="pic1" src="http://upload-images.jianshu.io/upload_images/2585384-6408761f20a76ad2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="卓美品质">
            <div class="slide-text">
                <h2></h2>
                <p><strong>技术实现：</strong>HTML、CSS、js、jQuery、Bootstrap</p>
                <p><strong>项目描述：</strong>使用HTML及CSS对页面进行搭建，实现动画交互</p>
                <p><strong>实现技术：</strong></p>
                <ul>
                    <li>根据需求分析并给出最优的网页前端结构解决方案并完成效果实现</li>
                    <li>利用css+html等将页面实现</li>
                    <li>用js、jQuery以及Bootstrap对页面原型进行布局搭建，并进行画图的操作</li>
                </ul>
                <p><strong>项目收获：</strong></p>
                <ul>
                    <li>使用html css对页面进行制作</li>
                    <li>熟练原生javascript、jQuery的使用</li>
                    <li>对项目的前端流程有了一定的认识，为以后的项目积累了经验</li>
                </ul>
                <span class="addr">项目地址：</span><a href="http://huan521.com/zmpz/index.html" target="blank">跳转</a>
            </div>
        </div>
        <!-- 第二屏 -->
        <div class="slide">
            <!--<img class="pic3" src="static/image/mi3.png" alt="卓美品质">-->
            <!--<img class="pic2" src="static/image/mi2.png" alt="卓美品质">-->
            <!--<img class="pic1" src="static/image/mi1.png" alt="卓美品质">-->
            <div class="slide-text">
                <h2>小米官方网站</h2>
                <p><strong>技术实现：</strong>HTML5、CSS3\jQuery、Bootstrap</p>
                <p><strong>项目描述：</strong>仿照小米商城、实现小米商城首页</p>
                <p><strong>实现技术：</strong></p>
                <ul>
                    <li>通过采用div+css样式布局排版</li>
                    <li>使用jQuery完成页面动态效果部分</li>
                    <li>使用html5、css3新特性进行样式，动态效果的实现</li>
                </ul>
                <p><strong>项目收获：</strong></p>
                <ul>
                    <li>熟悉了js dom,event,ajax，能够编写js原生代码</li>
                    <li>更加熟练掌握了css3的特性</li>
                    <li>更加熟练用firebug，chrome等调试工具调试代码</li>
                </ul>
                <span class="addr">项目地址：</span><a href="http://huan521.com/xiaomi/index.html" target="blank">跳转</a>
            </div>
        </div>
        <!-- 第三屏 -->
        <div class="slide">
            <!--<img class="pic3" src="static/image/smar3.png" alt="卓美品质">-->
            <!--<img class="pic2" src="static/image/smar2.png" alt="卓美品质">-->
            <!--<img class="pic1" src="static/image/smar1.png" alt="卓美品质">-->
            <div class="slide-text">
                <h2>电商网站-商品详情</h2>
                <p><strong>技术实现：</strong>HTML5、CSS3\jQuery、javascript</p>
                <p><strong>项目描述：</strong>实现商品展示，实现登陆、立即购买功能</p>
                <p><strong>实现技术：</strong></p>
                <ul>
                    <li>根据产品需求分析并给出最优的网页前端结构解决方案并完成效果实现</li>
                    <li>利用div+css等将页面实现，高度还原设计图</li>
                    <li>使用原生javascript完成页面动态交互</li>
                </ul>
                <p><strong>项目收获：</strong></p>
                <ul>
                    <li>深刻理解了javascript性能优化</li>
                    <li>熟练原生javascript、jQuery的使用</li>
                    <li>熟悉了css3标准，解决常见兼容性问题</li>
                </ul>
                <span class="addr">项目地址：</span><a href="http://huan521.com/smartisan/index.html" target="blank">跳转</a>
            </div>
        </div>
        <!-- 第四屏 -->
        <div class="slide">
            <!--<img class="pic3" src="static/image/gowhere3.png" alt="卓美品质">-->
            <!--<img class="pic2" src="static/image/gowhere2.png" alt="卓美品质">-->
            <!--<img class="pic1" src="static/image/gowhere1.png" alt="卓美品质">-->
            <div class="slide-text">
                <h2>企业网站</h2>
                <p><strong>技术实现：</strong>HTML5、CSS3\jQuery</p>
                <p><strong>项目描述：</strong>使用div+csss完成页面构建，实现动态交互，更好的达到展示效果</p>
                <p><strong>实现技术：</strong></p>
                <ul>
                    <li>根据产品需求分析并给出最优的网页前端结构解决方案并完成效果实现</li>
                    <li>利用css+html等将页面实现，高度还原设计图</li>
                    <li>用js、jQuery对页面原型进行布局搭建，并进行特效制作</li>
                </ul>
                <p><strong>项目收获：</strong></p>
                <ul>
                    <li>巩固了原生js基础，对闭包，作用域，对js面向对象编程的思想有了一定的了解</li>
                    <li>了解网页中 SEO 的一些基本理念</li>
                    <li>熟练使用firebug，chrome调试工具调试代码</li>
                </ul>
                <span class="addr">项目地址：</span><a href="http://huan521.com/goWhere/gowhereDemo.html" target="blank">跳转</a>
            </div>
        </div>
    </div>

    <div class="section section6">
        <h1 id="sec6-h">联系我</h1>
        <img class="sec6-pic1" sre="http://upload-images.jianshu.io/upload_images/2585384-737d66e2d8e6f748.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="">
        <div class="sec6-p">
            <div>
                <img id="sec6pic" src="http://upload-images.jianshu.io/upload_images/2585384-671e26cb60565ac5.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
            </div>
            <ul>
                <li>电话：18745069763</li>
                <li>邮箱：18745069763@gmain.com</li>
                <li>Q Q：379384615</li>
                <li id="sec6li">微信：liu117058580</li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/jquery.fullPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.2/vendors/jquery.easings.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/move.js/0.3.3/move.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</div>
</body>
</html>
